body {
	font-family: Arial, sans-serif;
	width: 800px;
	margin: auto;
}

h1, hr {
	margin: 0px;
	padding: 0px;
}

#banner {
	display: block;
}

#username {
	color: red;
	font-weight: bold;
}

/**
* Menu based on James Owers' Horizontal CSS List Menu
* @see http://jamesowers.co.uk/css-tutorials/50/horizontal-css-list-menu/
*/

#menu-username {
	color: red;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.menu {
    width: 100%;
    background-color: #333; 
}
    
.menu ul {
    margin: 0; 
    padding: 0;
    float: left;
}
 
.menu ul li {
    display: inline;
}
 
.menu ul li a {
    float: left; 
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #333; 
}
 
.menu ul li a:visited {
    color: white;
}
 
.menu ul li a:hover, .menu ul li .current {
    color: #fff;
    background-color:#0b75b2;
}