@CHARSET "UTF-8";

.editor input[type=text],
.editor input[type=password],
.editor textarea {
	font: 15px "Helvetica Neue", Helvetica, sans-serif;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.editor input[type=text]:hover,
.editor input[type=password]:hover,
.editor textarea:hover {
	outline: none;
	border: 1px solid #bbb;
	box-shadow: none;
}

.editor input[type=text]:focus,
.editor input[type=password]:focus,
.editor textarea:focus {
	outline: none;
	border: 1px solid #00bce9;
	box-shadow: 0 0 5px #2da1ec;
}

.editor input.highlight {
	border: 1px solid #ffcc33;
	box-shadow: 0 0 5px #ffff00;
}

.editor input.error {
	border: 1px solid #dd212b;
	box-shadow: 0 0 5px #ed1b24;
}

.editor input[type=text]::-webkit-input-placeholder,
.editor input[type=password]::-webkit-input-placeholder,
.editor textarea::-webkit-input-placeholder {
	font-weight: lighter;
	color: #ccc;
}

.editor input[type=text]:-moz-input-placeholder,
.editor input[type=password]:-moz-input-placeholder,
.editor textarea:-moz-input-placeholder {
	font-weight: lighter;
	color: #ccc;
}

.editor input[type=text]:-ms-input-placeholder,
.editor input[type=password]:-ms-input-placeholder,
.editor textarea:-ms-input-placeholder {
	font-weight: lighter;
	color: #ccc;
}

.editor button,
.editor input[type=submit] {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
	background-image: -moz-linear-gradient(#2da1ec, #0191d9);
	background-image: -ms-linear-gradient(#2da1ec, #0191d9);
	background-image: linear-gradient(#2da1ec, #0191d9));
	border-radius: 5px;
	border: 1px solid #0191d9;
}

.editor button:hover,
.editor input[type=submit]:hover {
	background-image: -webkit-linear-gradient(#2eacff, #0191d9);
	background-image: -moz-linear-gradient(#2eacff, #0191d9);
	background-image: -ms-linear-gradient(#2eacff, #0191d9);
	background-image: linear-gradient(#2eacff, #0191d9);
}

.editor button:active,
.editor input[type=submit]:active {
	top: 1px;
}

.editor button.glossy,
.editor input.glossy[type=submit] {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	border: 1px solid #0082c3;
}

.editor select {
	width: 137px;
    height: 50px;
    border: 0;
    background-color: transparent;
    color: #4d4d4d;
    font-family: 'oswaldregular', Calibri;
    text-transform: uppercase;    
    font-size: 22px;
    padding: 10px 0 5px 6px;
    cursor:pointer;
    -webkit-appearance: none;
}

.editor select:after {
	overflow: hidden;
    width: 116px;
    display: inline-block;
    background: right #c8c8c8;
}

