@CHARSET "UTF-8";

body {
	background: url('resources/image/login_background.jpg') #34495e;
}

.login {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	width: 400px;
	height: 300px;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	position: absolute;
	margin: auto;
}

.login input[type=text],
.login input[type=password] {
	font-size: 40px;
	text-align: center;
	width: 380px;
	height: 65px;
	border: 0;
	outline: 0;
	color: #fff;
	background: transparent;
	border: 0;
	margin-left: 10px;
	margin-top: 20px;
}

.login input[type=submit],
.login button {
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	width: 100%;
	height: 100px;
	color: #fff;
	background-color: #336ca6;
	border: 0;
	display: table;
}

.login input[type=submit]:hover,
.login button:hover {
	background-color: #0b75b2;
}

.login-username {
	background-color: #6babff;
}

.login-username:after {
	content: "";
	position: relative;
	width: 0px;
	height: 0px;
	top: 23px;
	left: 50%;
	border-style: solid;
	border-width: 8px 12px 0 12px;
	border-color: #6babff transparent transparent transparent;
	margin-left: -10px;
}

.login-username input::-webkit-input-placeholder {
	color: #8abcff;
}

.login-username input::-moz-input-placeholder {
	color: #8abcff;
}

.login-password {
	background-color: #5a9aff;
}

.login-password:after {
	content: "";
	position: relative;
	width: 0px;
	height: 0px;
	top: 23px;
	left: 50%;
	border-style: solid;
	border-width: 8px 12px 0 12px;
	border-color: #5a9aff transparent transparent transparent;
	margin-left: -10px;
}

.login-password input::-webkit-input-placeholder {
	color: #7aabff;
}

.login-password input::-moz-input-placeholder {
	color: #7aabff;
}

.login-message {
	text-align: center;	
	color: red;
}