@CHARSET "UTF-8";

.search {
	width: 710px;
	margin: 0 auto;
}

.search input {
	font: 15px "Helvetica Neue", Helvetica, sans-serif;
	width: 600px;
	height: 40px;
	padding: 10px;
	float: left;
	border: 1px solid #ddd;
	border-radius: 3px 0 0 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search input:hover {
	outline: none;
	border: 1px solid #bbb;
	border-right: 0;
	box-shadow: none;
}

.search input:focus {
	outline: none;
	border: 1px solid #d83c3c;
	border-right: 0;
}

.search input::-webkit-input-placeholder {
	font-weight: lighter;
	color: #ccc;
}

.search input:-moz-placeholder {
	font-weight: lighter;
	color: #ccc;
}

.search input:-ms-input-placeholder {
	font-weight: lighter;
	color: #ccc;
}

.search button {
	font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
	text-transform: uppercase;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	overflow: visible;
	position: relative;
	float: right;
	width: 110px;
	height: 40px;
	padding: 0;
	cursor: pointer;
	color: #fff;
	background: #d83c3c;
	border: 0;
	border-radius: 0 3px 3px 0;
}

.search button:hover {
	background: #e54040;
}

.search button:active, .search button:focus {
	background: #c42f2f;
}

.search button:before {
	content: '';
	position: absolute;
	top: 12px;
	left: -6px;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	border-color: transparent #d83c3c transparent;
}

.search button:hover:before {
	border-right-color: #e54040;
}

.search button:focus:before {
	border-right-color: #c42f2f;
}

.search button::-moz-focus-inner {
	border: 0;
	padding: 0;
}


/* Search result */



