.tag {
	display: block;
	float: left;
	font-family: helvetica;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #638421;
	line-height: 1.5em;
	vertical-align: middle;
	background: #cde69c; 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #a5d24a;
	padding: 7px;
	margin-right: 7px;
	margin-bottom: 3px;
}

.tag a { 
	font-weight: bold; 
	text-decoration:none; 
	font-size: 11px;
	color: #82ad2b; 
}

.tag:hover {
	color: #9b9b9b;
}

.tag.inactive {
	color: #9b9b9b;
	background: #fff;
}

.tag.inactive:hover {
	background: #cde69c;
}

.tag.used { 
	color: #638421;
	background: #b8d187; 
	border: 1px solid #82b028; 
}

.tag.used a { 
	font-weight: bold; 
	font-size: 11px;
	color: #628d0b; 
	text-decoration:none; 
}
